@import "grid";
@import "fonts";
@import "global";
@import "var";
@import "templates";
@import "media";

header {
  padding: 26px 0 30px;
  border-bottom: 2px solid #dedede;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 157px;
  }

  &__nav-block {
    display: flex;
    align-items: center;
  }

  &__nav {
    ul {
      display: flex;
      justify-content: end;

      li {
        margin-right: 13px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 800;

        a {
          padding: 15px;
          display: block;

          &:hover {
            background-color: #00a99d;
            border-radius: 6px;
            color: #ffffff;
          }
        }

      }
    }
  }

  &__search {
    width: 17px;
    margin-top: 6px;

    button {
      @extend %btn;
    }
  }
}

.offer {
  position: relative;
  padding: 62px 0 70px;

  &:before {
    content: '';
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: -27px;
    left: 48.6%;
    transform: rotate(45deg);
    background-color: #00a99d;
    border-radius: 6px;
  }

  &:after {
    content: '';
    position: absolute;
    left: 49.5%;
    bottom: -5px;
    width: 20px;
    height: 17px;
    background-image: url("../images/offer-4.png");
  }

  .offer-main {
    &__title {
      @extend %title;

      h1 {
        margin: 0 19px;
      }

      span {
        color: #00a99d;
      }

      &-decor {
        width: 35.5%;
        position: relative;

        &:first-child {
          @extend .decor-left
        }

        &:last-child {
          @extend .decor-right
        }
      }
    }

    &__desc {
      @extend %desc;
    }
  }

  .offer-item {
    text-align: center;
    display: inline-block;

    .hovered {
      background-color: #00a99d;
    }

    &__icon-wrapper {
      width: 100px;
      height: 100px;
      background: #383838;
      border-radius: 50%;
      margin: 33px auto 22px;
      position: relative;
    }

    &__icon {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 30px;
      left: 30px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__title {
      text-transform: uppercase;
      font-weight: 800;
      color: #606060;
      margin-bottom: 21px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 22px;
    }

    &__btn {
      a {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 800;
        padding: 11px 9px;
        color: #8a8a8b;
        border-radius: 6px;
        border: solid #ebebeb;
        border-width: 2px 1px;
        display: block;
        width: 80px;
        margin: 0 auto;

        &:hover {
          background: #00a99d;
          color: #ffffff;
          border-color: #00a99d;
        }
      }
    }
  }
}


.facts {
  padding: 76px 0 68px;
  background: #383838;
  .facts-main {
    &__title {
      @extend %title;

      h1 {
        margin: 0 19px;
        color: #ffffff;
      }

      span {
        color: #00a99d;
      }

      &-decor {
        width: 35.5%;
        position: relative;

        &:first-child {
          @extend .facts-decor__left;
          border: none;
        }

        &:last-child {
          @extend .facts-decor__right;
          border: none;
        }
      }
    }

    &__desc {
      @extend %desc;
      p{
        color: #606060;
      }
    }
  }
  .facts-counter__item{
    color: #ffffff;
    text-align: center;
    &-numb{
      font-size: 80px;
      font-style: italic;
      &:after{
        @extend %points;
        left: 80%;
      }
      &:before{
        @extend %points;
        left: 17%;
      }
    }
  }
}


